.welcome {
    background-color: #212529;
}
.welcome .banner{
    display: flex;
    flex-direction: column;
    height: 600px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-bottom: -160px;
}

.welcome .banner .title {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: rgb(211, 208, 208);
    font-size: 2.5rem;
}
.welcome .banner .title .main {
    text-align: center;
    color: rgb(211, 208, 208);
}
.welcome .banner .title .sub {
    font-size: 1.5rem;
    text-align: center;
    color: rgb(167, 161, 161);
}
.welcome .banner .register_guide {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    margin-top: 80px;
    font-size: 2.5rem;
}
.welcome .about {
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    padding: 50px;
}
.welcome .about .title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.welcome .about .content {
    font-size: 1.3rem;
    color: #e6e6e6;
    margin-bottom: 20px;
}
.welcome .faq {
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    padding: 50px;
}
.welcome .faq .title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.welcome .faq .content {
    width: 100%;
    color: #000;
}
.welcome .faq .content .card {
    width: 100%;
    color: #FFF;
    background-color: #3a3f44;
    margin-bottom: 0.5rem;
}
.welcome .faq .content .question {
    font-size: 1.3rem;
    margin-bottom: 10px;
}
.welcome .faq .content .answer {
    font-size: 1.2rem;
    color: #e6e6e6;
    margin-bottom: 10px;
    padding: 5px;
}

.welcome .contact {
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    padding: 50px;
}
.welcome .contact .title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.welcome .contact .content {
    font-size: 1.3rem;
    color: #e6e6e6;
    margin-bottom: 20px;
    text-align: center;
}
.welcome .contact .message-box {
    font-size: 1.3rem;
    color: #e6e6e6;
    padding: 1rem;
    text-align: center;
}
.welcome .contact .message-box .message-address {
    margin-top: 0.5rem;
    width: 100%;
}
.welcome .contact .message-box .message-address .message-name {
    margin-right: 2rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #292e33;
    color:rgb(167, 161, 161);
    border-color:  #292e33;
}
.welcome .contact .message-box .message-address .message-email {
    background-color: #292e33;
    color:rgb(167, 161, 161);
    border-color:  #292e33;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.welcome .contact .message-box .message-content {
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: #292e33;
    color:rgb(167, 161, 161);
    border-color:  #292e33;
    width: 100%;
    height: 10rem;
    margin-bottom: 1rem;
}
.welcome .contact .message-box .message-button {
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: #dec429;
    color:#FFF;
    border-color: #292e33;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
    .welcome .contact .message-box .message-address .message-name {
        width: 100%;
    }
    .welcome .contact .message-box .message-address .message-email {
        width: 100%;
    }
  }